[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

jupyter = "*"
requests = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
statsmodels = "*"
"rpy2" = "*"
tables = "*"


[dev-packages]



[requires]

python_version = "3.6"
